/* body */
body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:0;
	background-color: #f4f4f4;
}

/*global*/
.container{
	width: 90%;
	margin: auto;
}

ul{
	margin:0;
	padding: 0;
}

/*header*/
header{
	background: #008516;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #6c7d47 3px solid;

}

/* menu/links */


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin: 0;
}

/*navigation bar or right aligned text*/
header nav{
	font-size: 10px;
	float: right;
	margin: 0;
}

header .highlight, header .current a{
	color: #e84919;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}

/*showcase*/
#showcase{
	min-height: 400px;
	background: url('../img/forest.jpg') no-repeat 0 -200px;
	text-align: center;
	color: #f4f4f4;
	/*color: #ffffff;*/
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 22.5px;
}

/*boxes*/
/*#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}*/

#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}


footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #008516 ;
	text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }
